*{
    scroll-behavior: smooth;
}

body {
    background-color: #EFE6D3;
}

h1 {
    font-size: 6vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #352B22;
}

.main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    background-color: #EFE6D3;
    align-content: center;
}